---
---
%bg-img {
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: 100% 2000px;
}

$img-dir-url: {{ 'img' | relative_url }};

$page-width: 800px;

@import 'base';
@import 'layout/body';
@import 'layout/footer';
@import 'layout/header';
@import 'layout/main';
@import 'layout/site-nav';
@import 'pages/home';
