---
---
%body-font {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12pt;
}

$img-dir-url: {{ 'img' | relative_url }};

$main-border: 1px solid mediumblue;

%p-font {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

$page-width: 800px;

@import 'base';
@import 'components/article';
@import 'components/bg-img';
@import 'components/form';
@import 'layout/body';
@import 'layout/footer';
@import 'layout/header';
@import 'layout/main';
@import 'layout/site-nav';
@import 'pages/browse';
@import 'pages/editorialBoard-technicalStaff';
@import 'pages/home';
@import 'pages/issue';
@import 'pages/issueArchive';
