---
---
%bg-img {
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: 100% 2000px;
}

%body-font {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12pt;
}

$img-dir-url: {{ 'img' | relative_url }};

%p-font {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

$page-width: 800px;

@import 'base';
@import 'layout/body';
@import 'layout/footer';
@import 'layout/header';
@import 'layout/main';
@import 'layout/site-nav';
@import 'pages/about';
@import 'pages/editorialBoard-technicalStaff';
@import 'pages/home';
