{% include get-volume-issue-and-index.html item=include.article %}
<article class="article" {{ include.data-attributes }}>
  <h3>
    {% if include.link-title %}
      <a href="{{ include.article.url | relative_url }}">
    {% endif %}
    {% if include.title %}
      {{ include.title }}
    {% else %}
      {{ include.article.title }}
    {% endif %}
    {% if include.link-title %}
      </a>
    {% endif %}
  </h3>
  {% include get-authors.html article=include.article %}
  {% if authors %}
    <address class="authors">
      {{ authors | array_to_sentence_string }}
    </address>
  {% endif %}
  <p class="volume-issue-date-pages">
    {% capture url %}/issues/{{ volume-num }}/{{ issue-num }}/{% endcapture %}
    {% assign issue = site.issues | where: "url", url | first %}
    {% include get-month-and-year.html date=issue.date %}
    {% if page.layout == "issue" %}
      {% unless index %}
        {{ month }} {{ year }},
      {% endunless %}
    {% else %}
      <a href="{{ issue.url | relative_url
        | replace: 'index.html', '' }}">Volume {{ volume-num }},
        Issue {{ issue-num }}</a>
      {% if month and year %}
        ({{ month }} {{ year }}),
      {% endif %}
    {% endif %}
    {% if include.start-page %}
      {% assign start-page = include.start-page %}
    {% else %}
      {% assign start-page = include.article.start-page %}
    {% endif %}
    {% if include.end-page %}
      {% assign end-page = include.end-page %}
    {% else %}
      {% assign end-page = include.article.end-page %}
    {% endif %}
    pp. {{ start-page }}&ndash;{{ end-page }}
  </p>
  {% if index > 0 %}
    {% capture doi %}https://doi.org/10.22369/issn.2153-4136/{{ volume-num }}/{{
      issue-num }}/{{ index }}{% endcapture %}
    <a class="doi" href="{{ doi }}">{{ doi }}</a>
  {% endif %}
  {% capture id %}{{ volume-num }}-{{ issue-num }}{% if index %}-{{ index }}{%
    endif %}{% endcapture %}
  {% capture href %}downloads/jocse-{{ id }}.pdf{% endcapture %}
  {% include pdf-download-link.html href=href text="Download PDF" %}
  {% unless include.hide-bibtex or index == 0 %}
    <details class="bibtex-details">
      <summary>BibTeX</summary>
      {% include bibtex-section.html
        article=include.article
        id=id
        month=month
        year=year
      %}
      <button onclick="copyBibtex('{{ id }}');">Copy</button>
      <span id="copied-{{ id }}" class="copied-message">
        Copied to clipboard!
      </span>
    </details>
  {% endunless %}
  {% if include.article.abstract %}
    <p class="abstract-p">
      {{ include.article.abstract }}
    </p>
  {% endif %}
</article>