{% capture id %}{{ include.article.volume }}-{{ include.article.issue }}{% if
  include.article.index %}-{{ include.article.index }}{% endif %}{%
  endcapture %}
<article class="article" {{ include.data-attributes }}>
  <h3>
    {% if include.link-title %}
      <a href="{{ include.article.url | relative_url }}">
    {% endif %}
      {% if include.title %}
        {{ include.title }}
      {% else %}
        {{ include.article.title }}
      {% endif %}
    {% if include.link-title %}
      </a>
    {% endif %}
  </h3>
  {% if include.article.authors %}
    {% assign authors-str = include.article.authors | join: "SEPARATOR " %}
    {% if include.article.authors.size > 1 %}
      {% assign last-author-str = "and "
        | append: include.article.authors.last %}
      {% assign authors-str = authors-str
        | replace: include.article.authors.last, last-author-str %}
      {% if include.article.authors.size == 2 %}
        {% assign authors-str = authors-str | replace: "SEPARATOR", "" %}
      {% else %}
        {% assign authors-str = authors-str | replace: "SEPARATOR", "," %}
      {% endif %}
    {% endif %}
    <address class="authors">
      {{ authors-str }}
    </address>
  {% endif %}
  <p class="volume-issue-date-pages">
    {% capture slug %}{{ include.article.volume }}-{{
      include.article.issue }}{% endcapture %}
    {% assign issue = site.issues | where: "slug", slug | first %}
    {% if issue.month %}
      {% assign month = issue.month %}
    {% else %}
      {% assign month = include.article.month %}
    {% endif %}
    {% if issue.year %}
      {% assign year = issue.year %}
    {% else %}
      {% assign year = include.article.year %}
    {% endif %}
    {% if page.layout == "issue" %}
      {% unless include.article.index %}
        {{ site.data.month-names[month] }} {{ year }},
      {% endunless %}
    {% else %}
      <a href="{{ issue.url | relative_url }}">Volume
        {{ include.article.volume }}, Issue {{ include.article.issue }}</a>
      {% if month and year %}
        ({{ site.data.month-names[month] }}
        {{ year }}),
      {% endif %}
    {% endif %}
    {% if include.start-page %}
      {% assign start-page = include.start-page %}
    {% else %}
      {% assign start-page = include.article.start-page %}
    {% endif %}
    {% if include.end-page %}
      {% assign end-page = include.end-page %}
    {% else %}
      {% assign end-page = include.article.end-page %}
    {% endif %}
    pp. {{ start-page }}&ndash;{{ end-page }}
  </p>
  {% if include.article.index > 0 %}
    {% capture doi %}https://doi.org/10.22369/issn.2153-4136/{{
      include.article.volume }}/{{ include.article.issue }}/{{
      include.article.index }}{% endcapture %}
    <a class="doi" href="{{ doi }}">{{ doi }}</a>
  {% endif %}
  {% capture href %}media/jocse-{{ id }}.pdf{% endcapture %}
  {% include pdf-download-link.html href=href text="Download PDF" %}
  {% unless include.hide-bibtex or include.article.index == 0 %}
    <details class="bibtex-details">
      <summary>BibTeX</summary>
      {% include bibtex-section.html article=include.article id=id %}
      <button onclick="copyBibtex('{{ id }}');">Copy</button>
      <span id="copied-{{ id }}" class="copied-message">
        Copied to clipboard!
      </span>
    </details>
  {% endunless %}
  {% if include.article.abstract %}
    <p class="abstract-p">
      {{ include.article.abstract }}
    </p>
  {% endif %}
</article>