{% assign lcurly = "{" %}
{% assign rcurly = "}" %}
{% include get-authors.html article=include.article %}
{% capture bibtex %}@article{jocse-{{ volume-num }}-{{ issue-num }}-{{ index }},
  author={{ lcurly }}{{ authors | join: " and " }}{{ rcurly }},
  title={{ lcurly }}{{ include.article.title }}{{ rcurly }},
  journal={The Journal of Computational Science Education},
  year={{ include.year }},
  month={{ include.month | date: "%b" | downcase }},
  volume={{ volume-num }},
  issue={{ issue-num }},
  pages={{ lcurly }}{{ include.article.start-page }}--{{
    include.article.end-page }}{{ rcurly }},
  doi={{ lcurly }}{{ doi }}{{ rcurly }}
}{% endcapture %}
{% capture aacute %}\\'{a}{% endcapture %}
{% capture amp %}\\&{% endcapture %}
{% capture auml %}\\"{a}{% endcapture %}
{% capture eacute %}\\'{e}{% endcapture %}
{% capture iacute %}\\'{i}{% endcapture %}
{% capture imath %}\\imath{% endcapture %}
{% capture iuml %}\\"{i}{% endcapture %}
{% capture ndash %}\\textendash{% endcapture %}
{% capture mdash %}\\textemdash{% endcapture %}
{% capture oacute %}\\'{o}{% endcapture %}
{% capture Oacute %}\\'{O}{% endcapture %}
{% capture omega %}\\omega{% endcapture %}
{% capture ouml %}\\"{o}{% endcapture %}
{% capture Ouml %}\\"{O}{% endcapture %}
{% capture percnt %}\\%{% endcapture %}
{% capture plusmn %}\\pm{% endcapture %}
{% capture reg %}\\textregistered{% endcapture %}
{% capture scedil %}\\c{s}{% endcapture %}
{% capture szlig %}{\\ss}{% endcapture %}
{% capture trade %}\\texttrademark{% endcapture %}
{% capture uacute %}\\'{u}{% endcapture %}
{% capture uuml %}\\"{u}{% endcapture %}
<pre id="bibtex-{{ include.id }}">{{ bibtex
  | replace: "&aacute;", aacute
  | replace: "&amp;", "&"
  | replace: "&auml;", auml
  | replace: "&eacute;", eacute
  | replace: "&iacute;", iacute
  | replace: "&imath;", imath
  | replace: "&iuml;", iuml
  | replace: "&ndash;", ndash
  | replace: "&mdash;", mdash
  | replace: "&oacute;", oacute
  | replace: "&Oacute;", Oacute
  | replace: "&omega;", omega
  | replace: "&ouml;", ouml
  | replace: "&Ouml;", Ouml
  | replace: "&percnt;", percnt
  | replace: "&plusmn;", plusmn
  | replace: "&reg;", reg
  | replace: "&scedil;", scedil
  | replace: "&szlig;", szlig
  | replace: "&trade;", trade
  | replace: "&uacute;", uacute
  | replace: "&uuml;", uuml
  | replace: "&", amp
}}</pre>
