{% assign rcurly = "}" %}
@article{jocse-{{ include.volume }}-{{ include.issue }}-{{
    include.index }},
  author={% raw %}{{% endraw %}{{ include.authors | join: " and " }}{% raw %}}{%
    endraw %},
  title={{ "{" }}{{ include.title }}{{ rcurly }},
  journal={The Journal of Computational Science Education},
  year={{ include.year }},
  month={{ include.month }},
  volume={{ include.volume }},
  issue={{ include.issue }},
  pages={{ "{" }}{{ include.start-page }}--{{
    include.end-page }}{{ rcurly }},
  doi={{ "{" }}{{ doi }}{{ rcurly }}
}
