{% assign html-entity-to-text = include.input
  | replace: "&aacute;", "á"
  | replace: "&auml;", "ä"
  | replace: "&eacute;", "é"
  | replace: "&iacute;", "í"
  | replace: "&iuml;", "ï"
  | replace: "&ndash;", "–"
  | replace: "&mdash;", "—"
  | replace: "&Oacute;", "Ó"
  | replace: "&omega;", "Ω"
  | replace: "&ouml;", "ö"
  | replace: "&percnt;", "%"
  | replace: "&plusmn;", "±"
  | replace: "&reg;", "®"
  | replace: "&szlig;", "ß"
  | replace: "&trade;", "™"
  | replace: "&uacute;", "ú"
  | replace: "&uuml;", "ü"
  | replace: "&amp;", "&"
%}