main {
  #splash-section {
    background-image: url('#{$img-dir-url}/home-splash.jpeg');
    margin: 0 auto;
    padding-bottom: 80px;
    padding-left: 184px;
    padding-right: 151px;
    padding-top: 80px;
    text-align: center;
    width: 420px;

    &,
    & p {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 12pt;
    }

    p {
      margin-top: 1em;
    }

    h2 {
      font-size: larger;
      margin: 0;
    }
  }

  #editor-intro {
    a {
      white-space: nowrap;
    }
  }
}
