.pdf-download-link {
  @extend %p-font;
  display: block;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  text-decoration: none;

  img {
    vertical-align: text-bottom;
  }
}

.article {
  @extend %p-font;

  h3 {
    margin: 0;

    a:link,
    a:visited {
      color: #003c9c;
      text-decoration: none;
    }
  }

  .volume-issue-date-pages,
  .doi {
    font-style: italic;
    margin: 0;
  }

  .bibtex-details {
    border: 1px solid black;
    margin-bottom: 0.5em;
    padding: 5px;

    summary {
      cursor: pointer;
    }

    pre {
      font-family: "Courier New", Courier, monospace;
      font-size: smaller;
      margin: 0;
      padding: 1em 0;
      white-space: pre-wrap;       /* Since CSS 2.1 */
      white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
      white-space: -pre-wrap;      /* Opera 4-6 */
      white-space: -o-pre-wrap;    /* Opera 7 */
      word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }

    button {
      cursor: pointer;
    }

    .copied-message {
      @extend %p-font;
      color: #003c9c;
      display: none;
    }
  }
}
