---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include get-title.html %}
    <title>Journal of Computational Science Education: {{ title }}</title>
    <link rel="icon" type="image/ico" href="{{ '/favicon.ico' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
    <script src="{{ '/js/main.js' | relative_url }}"></script>
  </head>
  <body class="bg-img">
    <header>
      <a id="header-logo" href="{{ site.url }}{{ site.baseurl }}"><img
          src="{{ '/img/header-logo.png' | relative_url }}"
          alt="Journal of Computational Science Education (JOCSE) logo"/></a>
    </header>
    <nav id="site-nav">
      <ul>
        {% for nav-link in site.data.nav-links %}
          <li>
            <a href="{{ nav-link.url | relative_url }}">{{ nav-link.label }}</a>
            {% if nav-link.sublinks %}
              <ul class="sublist">
                {% for nav-sublink in nav-link.sublinks %}
                  <li>
                    <a href="{{ nav-sublink.url | relative_url }}">{{
                      nav-sublink.label }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
    <main>
      <div>
        {% unless layout.hide-h1 %}
          <h1>{{ title }}</h1>
        {% endunless %}
        {{ content }}
      </div>
    </main>
    <footer class="bg-img">
      <div>
        <span>
          <a href="http://www.shodor.org" target="_blank">&copy;
            1994&ndash;{{ "now" | date: "%Y" }} Shodor</a>
        </span>
        <span id="issn-link">
          <a href="{{ '/about/' | relative_url }}">ISSN 2153-4136</a>
        </span>
        <span id="feedback-link">
          <a href="{{ '/feedback/' | relative_url }}">Feedback</a>
        </span>
        <span id="cserd-logo">
          <a href="http://shodor.org/cserd/" target="_blank">
            <img src="{{ '/img/cserd.gif' | relative_url }}" alt="CSERD logo"/>
          </a>
        </span>
        <span id="nsdl-logo">
          <a href="https://nsdl.oercommons.org/" target="_blank">
            <img src="{{ '/img/nsdl.gif' | relative_url }}" alt="NSDL logo"/>
          </a>
        </span>
      </div>
    </footer>
  </body>
</html>
