.article {
  h3 {
    margin-top: 0;
  }

  .download-link {
    text-decoration: none;

    img {
      vertical-align: text-bottom;
    }
  }

  .bibtex-section {
    border: 1px solid black;
    font-family: "Courier New", Courier, monospace;
    font-size: smaller;
    padding: 5px;

    pre {
      margin: 0;
    }
  }
}
