body {
  @extend %bg-img;
  background-image: url('#{$img-dir-url}/body-bg.jpeg');
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12pt;
  margin: 0;
  min-width: $page-width;
}

p {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0 0 1em 0;
  padding: 0;

  a:link {
    color: #003c9c;
  }
}
