body {
  @extend %bg-img;
  @extend %body-font;
  background-image: url('#{$img-dir-url}/body-bg.jpeg');
  margin: 0;
  min-width: $page-width;
}

p {
  @extend %p-font;
  margin: 0 0 1em 0;
  padding: 0;

  a:link {
    color: #003c9c;
  }
}
