footer {
  background-image: url('#{$img-dir-url}/footer-bg.jpeg');
  color: white;
  font-size: 15px;
  padding: 10px;

  & > div {
    align-items: center;
    display: flex;
    height: 35px;
    margin: 0 auto;
    width: $page-width - 20;

    & > span {
      flex: 1;

      &#issn-link,
      &#feedback-link {
        text-align: center;
      }

      &#cserd-logo,
      &#nsdl-logo {
        text-align: right;
      }
    }

    a:link,
    a:visited {
      color: white;
      text-decoration: none;
    }
  }
}
